name: Skir Dart Examples CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - run: dart pub get
      - run: dart format --output=none --set-exit-if-changed .
      - run: npx skir format --ci
      - name: Run codegen
        run: npx skir gen
      - run: dart analyze
      - run: dart run --enable-asserts bin/snippets.dart
